<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Infinity</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles.css">
  <link rel="icon" href="/SVG/eternity.png">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>

<body>
  <div class="loader">
    <svg width="30px" height="30px">
      <rect width="18px" height="18px" fill="grey" x="6px" y="6px"/>
    </svg>
  </div>

  <canvas id="canvas">

  </canvas>


  <!-- <div class="cursor">
  </div> -->

  <div class="ham" data-aos="fade-left">
    <svg id ="ham1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 128.5 161.01">
      <defs>
        <style>
          .cls-1 {
            fill: #333;
            stroke-width: 3px;
          }

          .cls-1,
          .cls-3 {
            stroke: #000;
            stroke-miterlimit: 10;
          }

          .cls-2 {
            fill: #1a1a1a;
          }

          .cls-3 {
            fill: none;
            stroke-width: 4px;
          }
        </style>
      </defs>
      <g id="Layer_2" data-name="Layer 2">
        <g id="Layer_1-2" data-name="Layer 1">
          <g id="backham">
            <g id="backham-2" data-name="backham">
              <circle class="cls-1" cx="64.25" cy="96.76" r="62.75" />
              <circle class="cls-2" cx="64.5" cy="97.01" r="28" />
            </g>
            <line class="cls-3" x1="126" y1="110.51" x2="126.5" y2="0.01" />
          </g>
          <g id="handle">
            <rect x="60" y="96.51" width="8" height="44" />
            <rect x="52.14" y="132.88" width="7.57" height="23.8" transform="translate(131.96 9.47) rotate(50.45)" />
          </g>
        </g>
      </g>
    </svg>

    <div id="ham2">
      <div class="line one">

      </div>
      <div class="line two">

      </div>
      <div class="line three">

      </div>
    </div>
    </div>

  </div>

  <div class="nav-container slide-up">
    <div class="string">

    </div>
    <div class="nav">
      <div class="nav-content">
        <ul>
          <a href="/">
            <li>Home</li>
          </a>
          <a href="/profile">
            <li>My Profile</li>
          </a>
          <a href="/events">
            <li>Events</li>
          </a>
          <a href="/register">
            <li>Register/Log-in</li>
          </a>
          <a href="/details">
            <li>Details</li>
          </a>
          <a href="/contact">
            <li>Contact</li>
          </a>
        </ul>
      </div>
    </div>
  </div>

  <a href="/">
    <div class="nav-brand" data-aos="fade-right">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 241.27 125.25">
        <title>brand</title>
        <g id="Layer_2" data-name="Layer 2">
          <g id="Layer_1-2" data-name="Layer 1">
            <g id="left-gear">
              <path fill="#000" stroke="#000"
                d="M117.68,36.51c-.37-.78-.76-1.54-1.16-2.31s-1-1.78-1.5-2.65l-10.2,3.57a49.66,49.66,0,0,0-4.36-5.73l6.21-8.82q-2-2.05-4.09-3.9L94,23.21a52.22,52.22,0,0,0-5.89-4.06L91.27,8.86q-2.51-1.33-5.12-2.45L80,15.29a51.25,51.25,0,0,0-6.78-2L73.05,2.49q-2.8-.51-5.66-.76L64.28,12.08a50,50,0,0,0-7,.16L53.78,2c-1.89.25-3.77.6-5.65,1l.25,10.81a51.88,51.88,0,0,0-6.57,2.32L35.35,7.57c-.8.38-1.59.77-2.37,1.19s-1.83,1-2.72,1.53l3.57,10.2a53.24,53.24,0,0,0-5.51,4.19L19.5,18.46c-1.41,1.34-2.74,2.73-4,4.18L22,31.23a51,51,0,0,0-3.93,5.66L7.8,33.71q-1.39,2.55-2.53,5.22l8.88,6.15a51.88,51.88,0,0,0-2,6.57l-10.79.16Q.81,54.66.54,57.55l10.32,3.1A52.85,52.85,0,0,0,11,67.54L.75,71q.38,2.86,1,5.7l10.79-.24A53.15,53.15,0,0,0,14.78,83L6.14,89.51c.44.94.9,1.87,1.39,2.79s.86,1.55,1.3,2.31L19,91.05a52.85,52.85,0,0,0,4.16,5.58L17,105.47c1.31,1.4,2.68,2.74,4.11,4L29.63,103a52.55,52.55,0,0,0,5.74,4l-3.18,10.33q2.51,1.38,5.12,2.52L43.45,111a51.81,51.81,0,0,0,6.76,2.1l.16,10.81q2.79.54,5.62.82l3.1-10.31a53.37,53.37,0,0,0,7.15-.09l3.49,10.22c1.86-.23,3.72-.55,5.56-1l-.24-10.78a52.2,52.2,0,0,0,6.82-2.32l6.48,8.64c.91-.43,1.82-.89,2.72-1.37s1.51-.83,2.25-1.26L89.76,106.3A50.17,50.17,0,0,0,95.57,102l8.83,6.22q2.05-1.94,3.9-4l-6.53-8.58a51.9,51.9,0,0,0,4.18-6l10.3,3.18c.89-1.65,1.71-3.32,2.45-5l-8.87-6.14a51.37,51.37,0,0,0,2.12-7l10.79-.16q.51-2.74.77-5.54l-10.32-3.1a52.25,52.25,0,0,0-.14-7.29l10.2-3.48q-.37-2.76-1-5.51l-10.8.24a51.47,51.47,0,0,0-2.4-6.84Z" />
              <circle stroke="#000" stroke-miterlimit="10" fill="#1a1a1a" cx="61.77" cy="63" r="36.5" />
            </g>
            <g id="right-gear">
              <path fill="#000" stroke="#000"
                d="M240.71,64.94q.06-1.29.06-2.58c0-1,0-2-.07-3L230,57.64a50.66,50.66,0,0,0-1.15-7.11l9.64-4.84c-.5-1.83-1.09-3.61-1.76-5.37L226.09,42a50.17,50.17,0,0,0-3.27-6.36l7.66-7.57c-1-1.58-2.18-3.11-3.36-4.58l-9.62,4.92a51.41,51.41,0,0,0-5-5l4.95-9.58c-1.49-1.18-3-2.3-4.63-3.34l-7.63,7.65A50.31,50.31,0,0,0,198.9,15l1.74-10.64c-1.78-.66-3.61-1.25-5.46-1.75l-4.89,9.64a51.86,51.86,0,0,0-6.88-1L181.78.57C180.9.53,180,.5,179.13.5c-1,0-2.09,0-3.12.07l-1.67,10.68a51.42,51.42,0,0,0-6.83,1.09l-4.84-9.65c-1.87.52-3.71,1.11-5.5,1.79l1.71,10.67a49.88,49.88,0,0,0-6.14,3.13l-7.59-7.67c-1.61,1.07-3.18,2.2-4.69,3.41l4.93,9.61a51.85,51.85,0,0,0-4.87,4.85l-9.6-4.95q-1.81,2.25-3.42,4.67l7.64,7.61A50.6,50.6,0,0,0,132,41.94l-10.66-1.75c-.68,1.8-1.29,3.63-1.81,5.5l9.63,4.88A51.05,51.05,0,0,0,128,57.39L117.35,59c0,1-.08,2.07-.08,3.11s0,1.77.06,2.65L128,66.46a50.26,50.26,0,0,0,1,6.88l-9.67,4.86q.75,2.79,1.74,5.47L131.73,82a52.61,52.61,0,0,0,3.15,6.28l-7.68,7.6c1,1.6,2.15,3.14,3.33,4.64l9.6-4.92a50.31,50.31,0,0,0,5,5l-5,9.6q2.2,1.79,4.57,3.38l7.6-7.63a50,50,0,0,0,6.34,3.29l-1.75,10.66c1.75.67,3.54,1.27,5.36,1.78l4.88-9.62a50.21,50.21,0,0,0,7.11,1.17l1.63,10.68c1,0,2,.08,3,.08.87,0,1.73,0,2.58,0l1.67-10.66a51.06,51.06,0,0,0,7.16-1.08l4.85,9.65q2.73-.73,5.34-1.71l-1.71-10.64a48.89,48.89,0,0,0,6.5-3.29l7.58,7.67q2.35-1.55,4.54-3.28L212.5,101a51.1,51.1,0,0,0,5.16-5.14l9.59,5q1.74-2.18,3.29-4.52l-7.64-7.61a52,52,0,0,0,3.32-6.48l10.63,1.74q1-2.61,1.73-5.33l-9.64-4.88a51.46,51.46,0,0,0,1.11-7.17Z" />
              <circle stroke="#000" stroke-miterlimit="10" fill="#1a1a1a" cx="178.77" cy="62" r="36.5" />
            </g>
          </g>
        </g>
      </svg>
    </div>
  </a>
