<%- include("partials/header") -%>

<div class="back" style="position:absolute; width:100%; bottom:-20%;">
  <img src="/SVG/back.svg" alt="">
</div>

<div class="page-head">
  <svg id="details-title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 331.3 71.5">
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width= "2px" d="M1,3A124.62,124.62,0,0,1,19.5,1.6C32,1.6,40.9,4.5,46.8,10s9.5,13.3,9.5,24.2-3.4,20-9.7,26.2-16.7,9.7-29.8,9.7A140.42,140.42,0,0,1,1,69.3ZM9.7,62.6a54.94,54.94,0,0,0,8.8.5c18.6,0,28.7-10.4,28.7-28.6.1-15.9-8.9-26-27.3-26a49.43,49.43,0,0,0-10.2.9Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width= "2px" d="M102.5,37.9H76.3V62.2h29.2v7.3H67.6V2.1H104V9.4H76.3V30.7h26.2Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width= "2px" d="M131.2,9.5H110.7V2.1h49.9V9.5H140v60h-8.8Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width= "2px" d="M171.5,48.3l-7,21.2h-9L178.4,2.1h10.5l23,67.4h-9.3l-7.2-21.2Zm22.1-6.8L187,22.1c-1.5-4.4-2.5-8.4-3.5-12.3h-.2c-1,4-2.1,8.1-3.4,12.2l-6.6,19.5Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width= "2px" d="M230.5,2.1V69.5h-8.7V2.1Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width= "2px" d="M245.7,2.1h8.7V62.2h28.8v7.3H245.7Z"/>
        <path fill= "none" stroke= "#000" stroke-miterlimit= "10" stroke-width= "2px" d="M291.69,58.9a30.83,30.83,0,0,0,15.6,4.4c8.91,0,14.11-4.7,14.11-11.5,0-6.3-3.61-9.9-12.71-13.4-11-3.9-17.8-9.6-17.8-19.1,0-10.5,8.7-18.3,21.8-18.3,6.9,0,11.91,1.6,14.91,3.3l-2.4,7.1a26.86,26.86,0,0,0-12.81-3.2c-9.2,0-12.7,5.5-12.7,10.1,0,6.3,4.1,9.4,13.4,13,11.41,4.4,17.21,9.9,17.21,19.8,0,10.4-7.7,19.4-23.61,19.4-6.5,0-13.6-1.9-17.2-4.3Z"/>
  </svg>
</div>

<div class="iiitm" data-aos="rotate-c">
  <a href="https://www.iiitm.ac.in">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 127.13 202.64">
          <rect fill="#424242" stroke="#424141" stroke-miterlimit="10"  x="31.46" y="84.3" width="62.88" height="117.84"/>
          <circle fill="none" stroke="#000" stroke-miterlimit="10" cx="62.86" cy="36.36" r="35.86"/>
          <circle fill="none" stroke="#000" stroke-miterlimit="10" cx="62.86" cy="36.36" r="28.56"/>
          <circle fill="#424141" cx="63.86" cy="36.36" r="19.18"/>
          <path fill="#000" stroke="#424141" stroke-miterlimit="10" d="M.5,75.66v58.16s0,8.8,14.4,16H44.68V139s-9.62,4.32-13.94-9.36l.72-45.36s-5-10.08-13-8.64Z"/>
          <path fill="#000" stroke="#424141" stroke-miterlimit="10" d="M31.46,75.52h34.4s11.68-2.74,11,11.66l0,46.64s3.57,9.52,10.77,5.92v10.08H63.86S43,147.66,48,121.74V87.9s2.16-3.6-7.2-3.6H31.46Z"/>
          <path fill="#000" stroke="#424141" stroke-miterlimit="10" d="M126.5,149.82V84.3s2.88-7.9-18-9-30.24.21-30.24.21v7.82H90.5s4.08.48,3.84,5.76l.24,60.72Z"/>
    </svg>
  </a>
</div>
  <div class="iiitm-heading" data-aos="fade-left">
    <h2>Atal Bihari Vajpayee Indian Institute of Information Technology</h2>
  </div>

  <div class="detail-info" data-aos="fade-up">
    <p>The hub for central India's largest Technical Fest!</p>
  </div>

<div class="address">
  <img style="width:40px;" src="/SVG/iiit.png" alt="">
  <p>Atal Bihari Vajpayee Indian Institute of Information Technology, Morena Link Road, Gwalior<br/> 474015</p>
</div>

<%- include("partials/footer") -%>
