<%- include("partials/header") -%>
  <img class="back" src="SVG/background.svg" style="position:absolute;bottom:-18.8%;" alt="">
  <div class="heading">
    <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 600.93 85.88">

      <path stroke="#fff" stroke-miterlimit="10" stroke-width="1px" d="M12.94,2.5V83.38H2.5V2.5Z" />
      <path stroke="#fff" stroke-miterlimit="10" stroke-width="1px"
        d="M37.18,83.38V2.5h11.4L74.5,43.42A229,229,0,0,1,89,69.7l.24-.12c-1-10.8-1.2-20.64-1.2-33.24V2.5H97.9V83.38H87.34l-25.68-41a256.72,256.72,0,0,1-15.12-27l-.36.12c.6,10.2.84,19.92.84,33.36V83.38Z" />
      <path stroke="#fff" stroke-miterlimit="10" stroke-width="1px" d="M122.14,2.5H165.7v8.76H132.58V38.14h30.6v8.64h-30.6v36.6H122.14Z" />
      <path stroke="#fff" stroke-miterlimit="10" stroke-width="1px" d="M197,2.5V83.38H186.58V2.5Z" />
      <path stroke="#fff" stroke-miterlimit="10" stroke-width="1px"
        d="M221.26,83.38V2.5h11.4l25.92,40.92A229,229,0,0,1,273.1,69.7l.24-.12c-1-10.8-1.2-20.64-1.2-33.24V2.5H282V83.38H271.42l-25.68-41a256.72,256.72,0,0,1-15.12-27l-.36.12c.6,10.2.84,19.92.84,33.36V83.38Z" />
      <path stroke="#fff" stroke-miterlimit="10" stroke-width="1px" d="M316.66,2.5V83.38H306.22V2.5Z" />
      <path stroke="#fff" stroke-miterlimit="10" stroke-width="1px" d="M356.26,11.38h-24.6V2.5h59.87v8.88H366.81v72H356.26Z" />
      <path stroke="#fff" stroke-miterlimit="10" stroke-width="1px" d="M427.9,83.38V49.06L402.34,2.5h11.88l11.39,22.32c3.12,6.12,5.53,11,8,16.68h.25c2.27-5.28,5-10.56,8.15-16.68L453.69,2.5h11.88L438.45,48.94V83.38Z" />
    </svg>
  </div>
  <h7 id="moto" data-aos="rotate-c" data-aos-once="true" data-aos-delay="800" data-aos-mirror="true">REDEFINING</h7>
  <h7 id="moto-mobile" data-aos="fade-left" data-aos-once="true" data-aos-delay="800" data-aos-mirror="true">AT ABV-IIITM</h7>
  <a href="/events"><button class="explore" type="button" name="button" data-aos="fade-up">Explore</button></a>


  <%- include("partials/footer") -%>
