* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100vh;
}

#canvas {
    background: none;
    position: absolute;
    z-index: -1;
}

#cursor {
    background: transparent;
    position: fixed;
    z-index: 9999;
    pointer-events: none;
}

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    z-index: 9999;
}

.loader svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(2) translate(-50%, -50%);
}

.loader svg rect {
    transform-origin: center;
    transform-box: fill-box;
    animation: loader 1.5s ease infinite alternate;
}

@keyframes loader {
    100% {
        transform: rotate(360deg);
        fill: white;
    }
}

.back {
    width: 100%;
}

.nav-brand {
    position: fixed;
    top: 2%;
    left: 2%;
    width: 10%;
    transition: 0.5s ease;
    z-index: 3;
}

.nav-brand #left-gear {
    transform-origin: 25%;
    animation: rot-rgt 30s linear infinite;
}

.nav-brand #right-gear {
    transform-origin: 75%;
    animation: rot-lft 30s linear infinite;
}

.ham {
    position: fixed;
    width: 5%;
    top: 0;
    right: 1%;
    z-index: 3;
    transition: 0.5s ease;
}

.ham:hover {
    cursor: pointer;
    transition: 0.5s ease;
    transform: scale(1.2);
}

.ham #ham1 {
    display: block;
}

.ham #ham2 {
    display: none;
}

.ham #ham1 #handle {
    transform-origin: 100% 0;
    transform-box: fill-box;
}

.rotate-right {
    animation: rot-rgt 1s ease-out 1;
}

.rotate-left {
    animation: rot-lft 1s ease-out 1;
}

.nav-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 2;
}

.slide-down {
    transition: 1s ease-out;
    top: 0;
}

.slide-up {
    transition: 1s ease-out;
    top: -100%;
}

.nav-container .string {
    border: 2px solid black;
    height: 10%;
    width: 1px;
    margin-left: 50%;
}

.nav {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    margin-left: 10%;
    background: rgb(1, 1, 1, 0.9)
}

.nav .nav-content {
    overflow: hidden;
}

.nav .nav-content ul {
    text-align: center;
    list-style-type: none;
}

.nav .nav-content ul a {
    text-decoration: none;
    margin: 5%;
    font-size: 2rem;
    color: white;
}

.nav .nav-content ul li::after {
    content: "";
    border-bottom: 1px solid gold;
    position: absolute;
    margin-top: 3%;
    left: 45%;
    width: 2%;
    transition: 0.2s ease;
    opacity: 0;
}

.nav .nav-content ul a li:hover:after {
    left: 49%;
    transition: 0.5s ease;
    opacity: 1;
}

#logo {
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    fill: none;
    transform: translate(-50%, -50%);
    animation: head-fill 1.5s linear 2.5s forwards;
    transition: 1s ease;
}

#logo path:nth-child(1) {
    stroke-dasharray: 182.6;
    stroke-dashoffset: 182.6;
    animation: head-anime 1s linear 1.5s forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 496.89;
    stroke-dashoffset: 496.89;
    animation: head-anime 1s linear 1s forwards;
}

#logo path:nth-child(3) {
    stroke-dasharray: 310.08;
    stroke-dashoffset: 310.08;
    animation: head-anime 1s linear 0.5s forwards;
}

#logo path:nth-child(4) {
    stroke-dasharray: 182.59;
    stroke-dashoffset: 182.59;
    animation: head-anime 1s linear 0s forwards;
}

#logo path:nth-child(5) {
    stroke-dasharray: 496.92;
    stroke-dashoffset: 496.92;
    animation: head-anime 1s linear 0s forwards;
}

#logo path:nth-child(6) {
    stroke-dasharray: 182.63;
    stroke-dashoffset: 182.63;
    animation: head-anime 1s linear 0.5s forwards;
}

#logo path:nth-child(7) {
    stroke-dasharray: 281.5;
    stroke-dashoffset: 281.5;
    animation: head-anime 1s linear 1s forwards;
}

#logo path:nth-child(8) {
    stroke-dasharray: 297.5;
    stroke-dashoffset: 297.5;
    animation: head-anime 1s linear 1.5s forwards;
}

.explore {
    position: absolute;
    bottom: 20%;
    left: 45%;
    transform: translateX(-50%);
    color: white;
    font-size: 0.8em;
    width: 12%;
    height: 50px;
    background: #1a1a1a;
    border-radius: 10px;
    letter-spacing: 5px;
    box-shadow: -2px -2px 2px #3c4245, 2px 2px 2px black;
    border: none;
    transition: 0.5s ease;
    text-align: center;
}

.explore:hover {
    transition: 0.5s ease;
    /* background: linear-gradient(145deg, #3c4245, #1a1a1a); */
    box-shadow: inset -2px -2px 2px #3c4245, inset 2px 2px 2px black;
}

#moto {
    position: absolute;
    color: white;
    opacity: 0.2;
    font-size: 1em;
    letter-spacing: 5px;
    top: 35%;
    left: 25%;
}

#moto-mobile {
    position: absolute;
    color: grey;
    opacity: 100%;
    font-size: 0.8em;
    top: 50%;
    right: 10%;
    letter-spacing: 5px;
    margin-bottom: 20px;
    visibility: hidden;
}

#fb {
    position: absolute;
    left: 15%;
    bottom: -20%;
    transition: 0.5s ease;
}

#fb:hover {
    transition: 0.5s ease;
    transform: scale(1.2);
}

#insta {
    position: absolute;
    left: 49%;
    bottom: -20%;
    transition: 0.5s ease;
}

#insta:hover {
    transition: 0.5s ease;
    transform: scale(1.2);
}

#linkedin {
    position: absolute;
    left: 84%;
    bottom: -20%;
    transition: 0.5s ease;
}

#linkedin:hover {
    transition: 0.5s ease;
    transform: scale(1.2);
}

.foots {
    display: flex;
    flex-direction: row;
}

.foots a {
    text-decoration: none;
    color: black;
}

.copyright p {
    position: absolute;
    padding: 2%;
    font-weight: bold;
    left: 50%;
    bottom: -35%;
    transform: translate(-50%);
}

.page-head {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translate(-50%);
    width: 25%;
}

#event-title path:nth-child(1) {
    stroke-dasharray: 318.4;
    stroke-dashoffset: 318.4;
    animation: head-anime 1s ease 1s forwards;
}

#event-title path:nth-child(2) {
    stroke-dasharray: 293.4;
    stroke-dashoffset: 293.4;
    animation: head-anime 1s ease 0.5s forwards;
}

#event-title path:nth-child(3) {
    stroke-dasharray: 318.4;
    stroke-dashoffset: 318.4;
    animation: head-anime 1s ease 0s forwards;
}

#event-title path:nth-child(4) {
    stroke-dasharray: 414.1;
    stroke-dashoffset: 414.1;
    animation: head-anime 1s ease 0s forwards;
}

#event-title path:nth-child(5) {
    stroke-dasharray: 234.6;
    stroke-dashoffset: 234.6;
    animation: head-anime 1s ease 0.5s forwards;
}

#event-title path:nth-child(6) {
    stroke-dasharray: 279.4;
    stroke-dashoffset: 279.4;
    animation: head-anime 1s ease 1s forwards;
}

.slide-container {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 10%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
}

.slide-container div {
    display: none;
}

.slide-container h2 {
    position: absolute;
    margin-top: -50%;
    margin-left: -20%;
}

#prev,
#next {
    position: absolute;
    top: 70%;
    border-radius: 50%;
    transition: 0.5s ease;
    z-index: 1;
}

#prev:hover,
#next:hover {
    transform: scale(1.1);
    transition: 0.5s ease;
    color: #1a1a1a;
}

#prev {
    left: 10%;
}

#next {
    right: 10%;
}

#register-title path:nth-child(1) {
    stroke-dasharray: 358.2;
    stroke-dashoffset: 358.2;
    animation: head-anime 1s ease 2s forwards;
}

#register-title path:nth-child(2) {
    stroke-dasharray: 318.3;
    stroke-dashoffset: 318.3;
    animation: head-anime 1s ease 1.5s forwards;
}

#register-title path:nth-child(3) {
    stroke-dasharray: 365.8;
    stroke-dashoffset: 365.8;
    animation: head-anime 1s ease 0.5s forwards;
}

#register-title path:nth-child(4) {
    stroke-dasharray: 152.2;
    stroke-dashoffset: 152.2;
    animation: head-anime 1s ease 0s forwards;
}

#register-title path:nth-child(5) {
    stroke-dasharray: 279.3;
    stroke-dashoffset: 279.3;
    animation: head-anime 1s ease 0s forwards;
}

#register-title path:nth-child(6) {
    stroke-dasharray: 234.6;
    stroke-dashoffset: 234.6;
    animation: head-anime 1s ease 0.5s forwards;
}

#register-title path:nth-child(7) {
    stroke-dasharray: 318.4;
    stroke-dashoffset: 318.4;
    animation: head-anime 1s ease 1.5s forwards;
}

#register-title path:nth-child(8) {
    stroke-dasharray: 358.2;
    stroke-dashoffset: 358.2;
    animation: head-anime 1s ease 2.0s forwards;
}

.form-container {
    position: absolute;
    z-index: 1;
    width: 30%;
    height: 80%;
    border: 2px solid black;
    border-radius: 50px;
    left: 35%;
    top: 15%;
    transform: translate(-50%, -50%);
    background: rgb(0, 0, 0, 0.5);
}

.form-container .primary-log-in,
.form-container .primary-register {
    display: none;
}

#log-in-head {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%);
}

.form-container form {
    margin-top: 10%;
    height: 80%;
    display: flex;
    flex-direction: column;
}

.form-container form div {
    position: relative;
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
    overflow: hidden;
}

.form-container form div input {
    width: 100%;
    height: 40px;
    padding-top: 5%;
    border: none;
    color: #fff;
    font-size: 1.2em;
    background: none;
    outline: none;
}

.form-container form div label {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid white;
}

.form-container form .username label::after,
.form-container form .password label::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #a1e6e3;
    transform: translate(-100%);
    transition: all 0.3s ease;
}

.form-container form div label .label-name {
    position: absolute;
    bottom: 1px;
    transition: all 0.3s ease;
}

.form-container form div input:focus+.label .label-name,
.form-container form div input:valid+.label .label-name {
    transform: translateY(-95%);
    color: #a1e6e3;
}

.form-container form div input:focus+label::after,
.form-container form div input:valid+label::after {
    transform: translate(0%);
}

.form-container form .primary-button {
    position: absolute;
    bottom: 30%;
    left: 38%;
    transform: translate(-50%);
    width: 30%;
    height: 8%;
    border-radius: 50px;
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    box-shadow: -2px -2px 2px #dfddc7, 2px 2px 2px black;
}

.primary-button:hover {
    background: linear-gradient(145deg, #dfddc7, black);
}

.form-container form .secondary-button {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%);
    width: 30%;
    height: 8%;
    border-radius: 50px;
    border: none;
    background: none;
    color: white;
    font-size: 1em;
    box-shadow: -2px -2px 2px #dfddc7, 2px 2px 2px black;
}

.form-container h3 {
    position: absolute;
    color: white;
    font-weight: 200;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%);
}

.type-register {
    position: absolute;
    bottom: 20%;
    color: red;
    left: 10%;
}

#contact path:nth-child(1) {
    stroke-dasharray: 273.4;
    stroke-dashoffset: 273.4;
    animation: head-anime 1s linear 1.2s forwards;
}

#contact path:nth-child(2) {
    stroke-dasharray: 365.7;
    stroke-dashoffset: 365.7;
    animation: head-anime 1s linear 0.8s forwards;
}

#contact path:nth-child(3) {
    stroke-dasharray: 414.1;
    stroke-dashoffset: 414.4;
    animation: head-anime 1s linear 0.4s forwards;
}

#contact path:nth-child(4) {
    stroke-dasharray: 234.5;
    stroke-dashoffset: 234.5;
    animation: head-anime 1s linear 0s forwards;
}

#contact path:nth-child(5) {
    stroke-dasharray: 326.8;
    stroke-dashoffset: 326.8;
    animation: head-anime 1s linear 0.4s forwards;
}

#contact path:nth-child(6) {
    stroke-dasharray: 273.4;
    stroke-dashoffset: 273.4;
    animation: head-anime 1s linear 0.8s forwards;
}

#contact path:nth-child(7) {
    stroke-dasharray: 234.5;
    stroke-dashoffset: 234.5;
    animation: head-anime 1s linear 1.6s forwards;
}

#details-title path:nth-child(1) {
    stroke-dasharray: 273.4;
    stroke-dashoffset: 273.4;
    animation: head-anime 1s linear 1.2s forwards;
}

#details-title path:nth-child(2) {
    stroke-dasharray: 365.7;
    stroke-dashoffset: 365.7;
    animation: head-anime 1s linear 0.8s forwards;
}

#details-title path:nth-child(3) {
    stroke-dasharray: 414.1;
    stroke-dashoffset: 414.4;
    animation: head-anime 1s linear 0.4s forwards;
}

#details-title path:nth-child(4) {
    stroke-dasharray: 326.5;
    stroke-dashoffset: 326.5;
    animation: head-anime 1s linear 0s forwards;
}

#details-title path:nth-child(5) {
    stroke-dasharray: 326.8;
    stroke-dashoffset: 326.8;
    animation: head-anime 1s linear 0.4s forwards;
}

#details-title path:nth-child(6) {
    stroke-dasharray: 273.4;
    stroke-dashoffset: 273.4;
    animation: head-anime 1s linear 0.8s forwards;
}

#details-title path:nth-child(7) {
    stroke-dasharray: 279.5;
    stroke-dashoffset: 279.5;
    animation: head-anime 1s linear 1.6s forwards;
}

.iiitm {
    position: absolute;
    left: 5%;
    top: 30%;
    width: 15%;
}

.iiitm svg path {
    animation: tilt 5s linear infinite alternate;
    transform-origin: 50%;
    transform-box: fill-box;
}

.iiitm-heading {
    position: absolute;
    top: 40%;
    left: 25%;
}

.detail-info {
    position: absolute;
    top: 50%;
    left: 28%;
}

.detail-info p {
    color: grey;
    font-size: 1.5rem;
}

.address {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 1.2em;
}

@keyframes tilt {
    from {
        transform: rotate(-5deg);
    }
    to {
        transform: rotate(5deg);
    }
}


/* .cursor{
  position: absolute;
  background-color:black;
  pointer-events: none;
  border-radius: 50%;
  border:2px solid grey;
  z-index: 4;
  width:20px;
  height: 20px;
  transition: 0.1s ease-out;
}
.cursor::after{
  content:"";
  position: absolute;
  z-index: 4;
  pointer-events: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid grey;
  margin-left:-40%;
  margin-top:-40%;
  transition: 0.1s ease-out;
}
.curse-click{
  transition: 0.2s ease-out;
  animation:out-curse 0.2s ease-out alternate;
} */


/* Event Type Page */

.eventTitle {
    position: absolute;
    top: 2%;
    left: 40%;
    width: 25%;
    color: grey;
}

.eventType-button {
    left: 5%;
    bottom: 20%;
}

.eventImage {
    position: absolute;
    top: 10%;
    right: 10%;
    width: 50%;
}

.content {
    position: absolute;
    left: 5%;
    top: 50%;
}


/* Profile Page */

#profile path:nth-child(1) {
    stroke-dasharray: 538.8;
    stroke-dashoffset: 538.8;
    animation: head-anime 1s linear 1.6s forwards;
}

#profile path:nth-child(2) {
    stroke-dasharray: 247.9;
    stroke-dashoffset: 247.9;
    animation: head-anime 1s linear 1.2s forwards;
}

#profile path:nth-child(3) {
    stroke-dasharray: 290.6;
    stroke-dashoffset: 290.6;
    animation: head-anime 1s linear 0.8s forwards;
}

#profile path:nth-child(4) {
    stroke-dasharray: 358.2;
    stroke-dashoffset: 358.2;
    animation: head-anime 1s linear 0.4s forwards;
}

#profile path:nth-child(5) {
    stroke-dasharray: 365.7;
    stroke-dashoffset: 365.7;
    animation: head-anime 1s linear 0s forwards;
}

#profile path:nth-child(6) {
    stroke-dasharray: 258.4;
    stroke-dashoffset: 258.4;
    animation: head-anime 1s linear 0.4s forwards;
}

#profile path:nth-child(7) {
    stroke-dasharray: 152.2;
    stroke-dashoffset: 152.2;
    animation: head-anime 1s linear 0.8s forwards;
}

#profile path:nth-child(8) {
    stroke-dasharray: 209.8;
    stroke-dashoffset: 209.8;
    animation: head-anime 1s linear 1.2s forwards;
}

#profile path:nth-child(9) {
    stroke-dasharray: 318.4;
    stroke-dashoffset: 318.4;
    animation: head-anime 1s linear 1.6s forwards;
}

.user-details {
    position: absolute;
    width: 40%;
    bottom: 45%;
    left: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-details div {
    margin: 2%;
}

.user-img img {
    border-radius: 50%;
    width: 100px;
}

.user-details div {
    color: grey;
    font-size: 1.2em;
}

.user-events {
    position: absolute;
    left: 43%;
    bottom: 130px;
}

.user-events-head {
    color: white;
}

.user-events-list ul {
    margin-top: 5%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    place-items: center;
}

.user-events-list ul a {
    text-decoration: none;
}

.user-events-list ul li {
    color: grey;
    margin: 1.5%;
}

.user-details-login button {
    bottom: 100px;
    left: 50%;
}

.not-registered-btn {
    width: 100%;
    /* height: 50%; */
    transform: translate(-50%, 150%);
}

.logout-button {
    left: 5%;
    bottom: 5%;
    width: 50px;
    background: none;
}

.google-sign {
    position: absolute;
    background: none;
    bottom: 30%;
    left: 65%;
    box-shadow: -2px -2px 2px #dfddc7, 2px 2px 2px black;
    font-size: 1.1rem;
    height: 8%;
}

.contact-img {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 20%;
    margin: 0 10%;
}

.contact-img img {
    width: 120px;
}

.contact-img div {
    margin: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.contact-img div h7 {
    color: white;
    text-shadow: 2px 2px 2px black;
}

.contact-img .divyansh,
.jyoti,
.apurv {
    width: 500px;
    text-align: center;
}

.contact-img a {
    font-size: 1.4rem;
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
    transition: 0.3s ease;
}

.contact-img a:hover {
    transition: 0.3s ease;
    text-shadow: 2px 2px 2px black, -2px -2px 2px black;
}

.contact-form {
    position: absolute;
    bottom: -5%;
    left: 10%;
}

.contact-form form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-form form div {
    display: flex;
    flex-direction: column;
    margin: 5%;
}

.contact-form label {
    color: white;
}

.contact-form input {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    font-size: 1.2rem;
    color: grey;
    transition: 0.3s ease;
}

.contact-form input:focus {
    transition: 0.3s ease;
    border-bottom: 1px solid grey;
}

.contact-form textarea {
    background: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 10px;
    color: grey;
    resize: none;
    width: 80%;
    padding: 1.5%;
    transition: 0.3s ease;
}

.contact-form textarea:focus {
    transition: 0.3s ease;
    box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
}

.contact-form textarea::placeholder {
    color: white;
    font-size: 1rem;
    transition: 0.3s ease;
}

.contact-form form .submit-contact {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s ease;
}

.contact-form form .submit-contact:hover>button {
    transition: 0.3s ease;
    box-shadow: 2px 2px 2px grey, -2px -2px 2px grey;
}

.contact-form form button {
    border: none;
    background: none;
    border-radius: 50px;
    color: white;
    border: 1px solid grey;
    width: 80px;
    height: 40px;
    outline: none;
    transition: 0.3s ease;
}

.type-contact {
    position: absolute;
    bottom: 20%;
    color: skyblue;
    left: 50%;
    transform: translate(-50%);
}


/* .divyansh{
  position: absolute;
  top: 30%;
}
.divyansh img{
  width:150px;
} */

@media screen and (max-width:700px) {
    #canvas {
        /* visibility: hidden; */
        position: fixed;
    }
    .back {
        display: none;
    }
    .nav-brand {
        width: 20%;
    }
    .ham {
        width: 10%;
    }
    .nav .nav-content ul a {
        font-size: 1.5rem;
    }
    .nav .nav-content ul li::after {
        display: none;
    }
    #logo {
        animation: head-fill-logo 1.5s linear 2.5s forwards;
        width: 80%;
        top: 40%;
        left: 60%
    }
    #logo path {
        stroke: black;
    }
    #moto {
        color: grey;
        opacity: 100%;
        font-size: 0.8em;
        top: 30%;
        left: 10%;
        margin-bottom: 20px;
    }
    #moto-mobile {
        visibility: visible;
    }
    .foots {
        font-size: 0.5rem;
    }
    .explore {
        width: 100px;
        height: 40px;
        font-size: 0.7rem;
        left: 40%;
    }
    .copyright p {
        font-size: 0.5rem;
    }
    .page-head {
        top: 5%;
        width: 25%;
    }
    .slide-container {
        flex-direction: column;
        top: 20%;
    }
    .slide-container div {
        display: block;
        width: 120%;
    }
    .slide-container h2 {
        position: absolute;
        bottom: 0;
        left: 45%;
    }
    .form-container {
        width: 100%;
        height: 80%;
        top: 50%;
        left: 50%;
        border: none;
        border-radius: 0;
    }
    .google-sign {
        left: 70%;
        box-shadow: -2px -2px 2px #dfddc7, 2px 2px 2px black;
        font-size: 1.1rem;
        height: 8%;
        width: 50px;
    }
    #log-in-head {
        color: white;
        text-shadow: 3px 3px 3px black, -1px -1px 3px black;
    }
    .form-container form {
        margin-top: 10%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }
    .form-container form div {
        width: 80%;
        margin-top: 8%;
    }
    .iiitm {
        left: 45%;
        top: 20%;
        width: 15%;
    }
    .iiitm-heading {
        left: 0;
    }
    .iiitm-heading h2 {
        font-size: 1.2rem;
        text-align: center;
    }
    .detail-info {
        left: 15%;
    }
    .detail-info p {
        font-size: 1.2rem;
        text-align: center;
    }
    .address {
        text-align: center;
        left: 50%;
        transform: translate(-50%);
        color: blue;
        font-size: 0.5em;
    }
    .eventTitle {
        top: 5%;
        left: 40%;
        width: auto;
        font-size: 1.5rem;
    }
    .eventImage {
        top: 10%;
        left: 30%;
    }
    .user-events {
        left: 32%;
    }
    .user-events-head {
        color: black;
    }
    .ham #ham1 {
        display: none;
    }
    .ham #ham2 {
        display: block;
    }
    .ham #ham2 .line {
        background-color: black;
        position: relative;
        width: 25px;
        height: 3px;
        margin-top: 10px;
        top: 0px;
        right: 10px;
        margin-left: 20px;
        border-radius: 30%;
        transition: 0.4s ease-in;
    }
    .ham #ham2 .two {
        transition: 0.4s ease;
        margin-left: 28px;
    }
    .ham:hover {
        transition: 0.4s ease-out;
        cursor: pointer;
    }
    .ham:hover #ham2 .mid {
        transition: 0.4s ease-out;
        opacity: 0;
    }
    .ham:hover #ham2 .one {
        transition: 0.4s ease-out;
        margin-left: 28px;
    }
    .ham:hover #ham2 .three {
        transition: 0.4s ease-out;
        margin-left: 28px;
    }
    .ham:hover #ham2 .line {
        transition: 0.4s ease-out;
    }
    .ham #ham2 .line-final {
        transition: 0.4s ease;
        position: absolute;
        top: 10px;
        width: 35px;
    }
    .ham #ham2 .one-final {
        transition: 0.4s ease-out;
        transform: rotate(225deg);
    }
    .ham #ham2 .three-final {
        transition: 0.4s ease-out;
        transform: rotate(-225deg);
    }
    .ham #ham2 .two-final {
        transition: 0.4s ease-out;
        opacity: 0;
    }
    .nav-container .string {
        display: none;
    }
    .eventType-button {
        left: 45%;
    }
    .slide-down {
        top: 10%;
    }
    .slide-up {
        top: -110%;
    }
    .not-registered-btn {
        background: none;
        color: black;
    }
    .contact-img img {
        width: 80px;
    }
    .contact-img div {
        margin: 2%;
        font-size: 0.8rem;
    }
    .contact-img div h7 {
        color: grey;
        font-weight: bold;
        text-shadow: 2px 2px 2px white;
    }
    .contact-form {
        width: 100%;
        height: 50%;
        bottom: -10%;
        left: 0;
    }
    .contact-form label {
        color: grey;
    }
    .contact-form input {
        border-bottom: 1px solid grey;
        font-size: 1rem;
    }
    .contact-form input:focus {
        border-bottom: 1px solid black;
    }
    .contact-form textarea {
        font-size: 1rem;
        width: 100%;
    }
    .contact-form textarea::placeholder {
        color: grey;
        font-size: 1rem;
    }
    .contact-form form .submit-contact {
        bottom: 10%;
        right: 10%;
    }
    .contact-form form button {
        color: grey;
    }
}

@keyframes out-curse {
    from {
        background-color: black;
        transform: scale(1);
        opacity: 1;
    }
    to {
        background-color: grey;
        transform: scale(1.5);
        opacity: 0.5;
    }
}

@keyframes head-anime {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes head-fill {
    from {
        fill: transparent;
    }
    to {
        fill: white;
    }
}

@keyframes head-fill-logo {
    from {
        fill: transparent;
    }
    to {
        fill: black;
    }
}

@keyframes rot-rgt {
    to {
        transform: rotate(720deg);
    }
}

@keyframes rot-lft {
    to {
        transform: rotate(-720deg);
    }
}

@keyframes tilt-a-bit {
    0% {
        transform: rotate(-2deg);
    }
    50% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(-2deg);
    }
}


/* Animation On Scroll  */

[data-aos="rotate-c"] {
    transform: translate(-1000%);
    transition-property: transform;
}

[data-aos="rotate-c"].aos-animate {
    transform: translate(0);
}